.message-list {
    height: 80vh;
    overflow: scroll;
    margin: 0 8px;
    width: 100vw;
}

.other {
    border-radius: 5px;
    background-color: gray;
}

.sender {
    font-weight: 100;
    font-size: 10px;
}